<div class="footerMenu">
    
</div>
<div class="copyright">
    @Html.DevExpress().Label(settings => {
        settings.EncodeHtml = false;
        settings.Text = DateTime.Now.Year.ToString();
    }).GetHtml()
</div>