<div class="headerTop">
    <div class="templateTitle">
        @Html.ActionLink("How to load a content using callbacks on a menu item click", "Index", "Home")
    </div>
    <div class="loginControl">
     
    </div>
</div>
<div class="headerMenu">
    	@* DXCOMMENT: Configure the header menu *@
	@Html.DevExpress().Menu(settings => {
        settings.Name = "HeaderMenu";
        settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
        settings.Styles.Style.Border.BorderWidth = System.Web.UI.WebControls.Unit.Pixel(0);
        settings.Styles.Style.BorderTop.BorderWidth = System.Web.UI.WebControls.Unit.Pixel(1);
        settings.ItemDataBound = (s, e) => {
            if (!String.IsNullOrEmpty(e.Item.NavigateUrl)) {
                string url = e.Item.NavigateUrl;
                e.Item.Name = url;
                e.Item.NavigateUrl = null;           
            }
        };
        settings.ClientSideEvents.ItemClick = "OnItemClick";
    }).BindToXML(HttpContext.Current.Server.MapPath("~/App_Data/TopMenu.xml"), "/items/*").GetHtml()
</div>